.global-counter {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__button {
    font-size: 2rem;
    padding: 10px 30px;
    margin: 20px 0;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 11px;
    transition: background-color 0.3s;

    &:hover:not(:disabled) {
      background-color: #0056b3;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: #cccccc;
    }
  }
}
