@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixins;

.toggle-button {
  background: none;
  border: 2px solid;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  padding: 0;

  @include mixins.themify(vars.$themes) {
    border-color: mixins.themed("accent");
    color: mixins.themed("text");
    background-color: transparent;

    &:hover {
      background-color: mixins.themed("surface");
      transform: rotate(20deg);
    }
  }

  .toggle-icon {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
